.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.game {
  width: 350px;
  height: 300px;
  margin: 0 auto;
  background-color: grey;
  position: relative;
  border-radius: 10px;
}

.player {
  width: 50px;
  height: 50px;
  background-color: orange;
  position: absolute;
  transition: all 0.1s;
  border-radius: 10px;
  top: 240px;
  left: 120px;
  transform: rotate(270deg);
}

.nose {
  width: 10px;
  height: 5px;
  background-color: green;
  position: absolute;
  top: 50%;
  right: -15%;
  transform: translateY(-50%);
  border-radius: 5px;
}

.eyes {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 20px;
  height: 80%;
  background-color: #fff;
  border-radius: 5px;
}

.eye {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #000;
  left: 8px;
}

.eye:nth-child(1) {
  top: 5px;
  background-color: #000;
}

.eye:nth-child(2) {
  bottom: 5px;
}

.hair {
  position: absolute;
  width: 40px;
  bottom: -5%;
  left: -5px;
  background-color: green;
  height: 110%;
  border-radius: 10px;
}

.game__move-button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background-color: #fff;
}

.game__move-button_to_up {
  bottom: 120px;
  left: 30%;
}

.game__move-button_to_left {
  left: 40px;
  bottom: 80px;
}

.game__move-button_to_down {
  bottom: 30px;
  right: 30%;
}

.game__move-button_to_right {
  right: 40px;
  bottom: 80px;
}

@media only screen and (min-device-width: 800px) {
  .game__move-button {
    display: none;
  }
}

.health-bar {
  width: 100%;
  position: absolute;
  height: 20px;
  background-color: red;
}

.health-bar_enemy {
  top: -30px;
}

.health-bar_player {
  bottom: -30px;
}

.arrows__container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.arrow:nth-child(5) {
  font-weight: bold;
  background-color: red;
}
